body {
    background-color: #68abc5;
}
.flex-container-main {
    display: flex;
  }
  
  .flex-box {
    position: static;
    flex: 1;
    height: 30vh; 
    padding: 20px; 
    background-color: #096d6b;
    border: 4px solid #ccc; 
    margin: 5px;  
  }
  .interest-form{
    position: relative;
    flex: 1;
    height: 30vh; 
    padding: 20px; 
    background-color: #096d6b;
    border: 4px solid #ccc; 
    margin: 5px;

  }
  .circle-small {
    position: relative; 
    top: 5vw; 
    left: 3vw; 
    width: 5vw; 
    height: 5vw; 
    background-color: rgb(236, 157, 10); 
    border-radius: 50%; 
    z-index: 1;
  }
  .circle-med {
    top: 7.5vw; 
    left: 5vw; 
    width: 8vw; 
    height: 8vw; 
    background-color: rgb(210, 155, 52);
    border-radius: 50%; 
}


.circle-bottom {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 40vw; 
    height: 40vw; 
    border-radius: 50%; 
    background: radial-gradient(ellipse at bottom, #ff6b6b, transparent); 
    z-index: 2;
}

.vertical-rectangle {
    width: 7.5vw; 
    height: 32vh; 
    background: linear-gradient(to bottom, #ccc, #130f8e); 
}

.vertical-rectangle2 {
    position: absolute;
    top: 44vh; 
    right: 23.5vw; 
    width: 7.5vw; 
    height: 32vh; 
    background: linear-gradient(to bottom, #ccc, #2235c0);
    z-index: index 3; 
}


/* Responsive design */

/* Styles for flex container */
.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
}


.flex-item {
    
}


@media (max-width: 1024px) {
    .flex-container {
        justify-content: center; 
    }
}


@media (max-width: 480px) {
    .flex-container {
        justify-content: center; 
    }
}


